<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title th:remove="all">Solicitação de senha</title>
</head>
<body>
    <div>
        <h1>Solicitação de nova senha</h1>

        <p>
            Usuário: <span th:text="${user.name}"></span>
        </p>
        <p>
            Nova senha: <span th:text="${newPass}"></span>
        </p>
        <br>
    </div>
    <footer>
        <p>Obrigado</p>
        <p>Desbravador Team</p>
    </footer>
</body>
</html>