<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title th:remove="all">Activate your account</title>
</head>
<body>
    <div>
        <h2>Activate your account</h2>
        <br>
        <p>
            Hi <span th:text="${user.name}"></span>,
        </p>
        <p>
            We've created an account for you and it's almost ready. We just need you to activating your account using the link below.
        </p>
        <br>
        <a th:href="${setPasswordLink}" target="_blank"><p>Activate Your Account</p></a>
        <br>
    </div>
    <footer>
        <p>Thanks,</p>
        <p>Team Desbravador</p>
    </footer>
</body>
</html>